* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


#frontposter {
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    margin-bottom: 178px;
}

header div div {
    margin-left: 240px;
}

header div div h1 {
    width: 650px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    margin-top: 197px;
    margin-bottom: 32px;
}

header div div p {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 32px;
}

header div div button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 147px;
    border: none;
}

#redflower {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-left: 97px;
    margin-right: 240px;
}


#mainfirst {
    display: block;
    margin-bottom: 48px;
}

main div h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

#para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.mainflower {
    display: flex;
    gap: 24px;
    margin-left: 240px;
    margin-bottom: 32px;
}

.pinkflower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pinkflower img {
    width: 310px;
    height: 428px;
    margin: 110px 78px 0px 76px;
}

.redflower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.redflower img {
    width: 370px;
    height: 370px;
    margin: 117px 47px 51px;
}

.yellowflower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.yellowflower img {
    width: 314px;
    height: 471px;
    margin: 67px 75px 0px;
}

.caption {
    display: flex;
    gap: 308px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    margin-left: 330px;
    margin-bottom: 128px;
}

.logodiv {
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 240px;
    display: flex;
    gap: 100px;
    margin-bottom: 128px;
}

.common {
    display: block;
    padding-top: 86px;
    padding-bottom: 87px;
}

#manimg {
    width: 88px;
    height: 88px;
    padding-left: 317px;
}

#manpara {
    padding-left: 175px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

#flowerimg {
    width: 88px;
    height: 88px;
    padding-left: 100px;
}

#flowerpara {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

#callimg {
    width: 88px;
    height: 88px;
    padding-left: 50px;
}

#callpara {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.discountmain {
    display: flex;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;

}

.discount {
    display: block;
    padding-top: 230px;
}

.discount h1 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-left: 423px;
    margin-bottom: 24px;
}

#color {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.discount p {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 395px;
    margin-bottom: 32px;
}

.discount button {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: none;
    margin-left: 603px;
}

#discountimg {
    width: 318px;
    height: 420px;
    padding: 100px 429px 100px 186px;
}

.instadiv {
    display: block;
    text-align: center;
    font-family: Lato;
    font-style: normal;
}

.instadiv h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    padding-bottom: 24px;
}

.instadiv p {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    font-family: Lato;
    font-style: normal;
    padding-left: 650px;
    margin-bottom: 48px;
}

.flowerflex {
    display: flex;
    gap: 24px;
    padding-left: 240px;
    margin-bottom: 128px;
}

.inputdiv {
    display: block;
    text-align: center;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background-image: url("../Rectangle\ 9.png");
    margin-left: 240px;
    margin-bottom: 128px;

}

.inputdiv h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-top: 122px;
    margin-bottom: 16px;

}

.inputdiv p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 48px;
}

.inputdiv input {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 22px;
}

.inputdiv button {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}